<?xml version="1.0"?>
<config>
    <modules>
        <EchoMage_Linfield>
            <version>0.1.0</version>
        </EchoMage_Linfield>
    </modules>
    <global>
        <helpers>
            <linfield>
                <class>EchoMage_Linfield_Helper</class>
            </linfield>
        </helpers>
        <models>
            <linfield>
                <class>EchoMage_Linfield_Model</class>
                <resourceModel>linfield_mysql4</resourceModel>
            </linfield>
        </models>
        <resources>
            <linfield_setup>
                <setup>
                    <module>EchoMage_Linfield</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </linfield_setup>
            <linfield_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </linfield_write>
            <linfield_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </linfield_read>
        </resources>
        <blocks>
            <customer>
                <rewrite>
                    <form_edit>EchoMage_Linfield_Block_Form_Edit</form_edit>
                </rewrite>
            </customer>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <EchoMage_linfield>
                    <file>echomage_linfield.xml</file>
                </EchoMage_linfield>
            </updates>
        </layout>
        <translate>
            <modules>
                <EchoMage_linfield>
                    <files>
                        <default>Linfield_Customer.csv</default>
                    </files>
                </EchoMage_linfield>
            </modules>
        </translate>
    </frontend>
</config>
